body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
	font-size: 14px !important;
	color: #212121 !important;
}

@media only screen and (min-width: 993px) {
	nav .brand-logo {
		padding-left: 10px !important;
	}
	.add-btn {
		display: none;
	}
}


@media only screen and (min-width: 600px) {
	.card-image .card-title {
		font-size: 40px;
	}
}

@media only screen and (min-width: 400px) {
	.card-image .card-title {
		font-size: 30px;
	}
	.card .todaydismiss, .card .tomorrowdismiss, .card .pull, .card .link, .card .push {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media only screen and (max-width: 400px) {
	#settings {
		top: 0px !important;
		left: 0px !important;
		right: 0px !important;
		bottom: 0px !important;
		width: 100% !important;
		max-width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		margin: 0px !important;
		border-radius: 0px;
	}
}

nav {
	background: #4CAF50;
}

.button-collapse {
	padding-left: 15px;
}


#sidenav-overlay {
	position: absolute !important;
}

#toast-container {
	padding: 10px;
}

.card-title, .button-colapse {
	color: #000000 !important;
}

.topmost {
	z-index: 999;
}

.preloader-wrapper {
	position:absolute;
	width:300px;
	height:200px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-64px 0 0 -35px;
	z-index: 0;
}

.lean-overlay {
	height: 200% !important;
}

#content, #settings {
	padding: 10px;
	max-width: 800px;
	margin: 0px auto 0px auto;
}

.input-field {
	margin-top: 0px !important;
}

#settings .s12 {
	margin-bottom: 5px !important;
}

.maintitle {
	line-height: 48px;
	font-size: 24px;
	font-weight: 300;
}

.card-image .card-title {
	color: #FFFFFF !important;
}

table, tr, th {
  font-weight: normal !important;
  margin: 0px !important;
  padding: 0px !important;
}

.task {
	width: 100%;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.actions {
	height: 36px !important;
}

.card .card-image video {
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%; }

.card .todaydismiss, .card .tomorrowdismiss, .card .pull, .card .link, .card .push {
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}

.card .push, .card .pull {
	color: #ffab40;
}

.card .todaydismiss, .card .tomorrowdismiss {
	color: #259b24;
}

.card .link {
	color: #3f51b5;
}

.archive-content {
	border: 1px solid 757575;
	background: #EEEEEE;
	padding: 10px;
	width: 100%;
	font-family: Courier, monospace;
}

#settings-trigger {
	background: #3f51b5;
	width: 100%;
}

.add-btn, #save-trigger {
	position: fixed;
	background: #4CAF50;
	right: 16px;
	bottom: 16px;
	margin-bottom: 0px !important;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#new {
	padding-left: 10px;
	padding-right: 10px;
}

.modal p {
	padding-left: 10px;
	padding-right: 10px;
}

.modal .modal-content {
	padding-bottom: 0px !important;
}

.modal-footer {
	background: none !important;
}

p {
	margin-bottom: 10px !important;
}

blockquote {
	margin: 0px !important;
	padding-left: 0px !important;
	border-left: none !important;
}

.twitter-tweet {
	margin: 0px !important;
	max-width: 520px !important;
}

@media only screen and (max-width: 260px) {
	.tweet-container {
		display: none;
	}
}

.youtube-embed, .vimeo-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	border: 0px solid #FFF !important;
	border-radius: 2px 2px 0px 0px !important;
	-webkit-border-radius: 2px 2px 0px 0px !important;
	-o-border-radius: 2px 2px 0px 0px !important;
}

.vine-embed {
	position: relative;
	padding-bottom: 100%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	border: 0px solid #FFF !important;
	border-radius: 2px 2px 0px 0px !important;
	-webkit-border-radius: 2px 2px 0px 0px !important;
	-o-border-radius: 2px 2px 0px 0px !important;
	max-height: 350px !important;
}

.youtube-embed iframe, .vimeo-embed iframe, .vine-embed iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.progress {
	margin: 0 !important;
}

/* Styles for Settings */

#settings {
	padding: 0px 10px 10px 10px !important;
	background: #EEEEEE;
	display: none;
}

.settings {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	background: #EEEEEE;
}

.settings .settings-item {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

.settings .settings-item:first-child {
	padding-top: 0px !important;
}

.settings .settings-item:last-child {
	border-bottom: none;
}

.settings .title {
	color: #4CAF50 !important;
	letter-spacing: 0px !important;
}

.settings a.settings-item {
	display: block;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	transition: 0.25s;
	color: #26a69a;
}